:root {
  --color-gray: #efefef;
  --color-dark-gray: #b6ada8;
  --color-blue: #1677ff;
  --color-green: #38ad71;
}

.ant-picker-calendar-date-value {
  text-align: start;
}

.ant-picker-content > thead > tr > th {
  text-align: start;
  padding-left: 12px !important;
}

.ant-picker-content > thead > tr > th:nth-child(1),
.ant-picker-content > thead > tr > th:nth-child(7) {
  color: red;
}

.ant-picker-content > tbody > tr > td.ant-picker-cell-in-view:nth-child(1),
.ant-picker-content > tbody > tr > td.ant-picker-cell-in-view:nth-child(7) {
  color: red;
}

.ant-modal-content {
  padding: 0px !important;
  border-radius: 0px !important;
}

.ant-list-header {
  padding: 0px !important;
}
